$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background1: #f3f3f3;
$color-background2: #fafafa;
$color-background3: #f6f6f6;

*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(223, 223, 223);
    padding: 16px;

    img {
        width: 100px;
    }
}

.lieu {
    display: flex;
    justify-content: center;
    background-color: $color-background1;
    padding: 20px 16px;
    font-size: 19px;
    font-style: normal !important;
    font-weight: 700;

    address{
        font-weight: bold;
    }
}

button{
    background: rgb(147, 86, 220);
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    border: none;
    border-radius: 30px;
    box-shadow: 4px 4px 10px rgb(223, 223, 223);
}

a{
    text-decoration: none;
    color: black;
}

.reservation{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 32px;

    h2{
        font-size: 24px;
    }

    .subtitle-reservation{
        margin: 24px 0; 
        font-weight: 300;
    }

    .background{
        background-color: $color-background2;
    }

    a.btn-recherche{
        color: white !important;

        .btn{
            font-size: 18px;
            padding: 12px 24px;
        }
    }
}
.fonctionnement{
    padding: 32px 16px;

    .container{
    width: 100%;
    display: flex;
    text-align: left;
    }

    .title-fonction{
        margin-top: 0;
    }

    ol.etapes{
        display: flex;
        flex-direction: column;

    }

    .filter-button{
        display:flex;
        background-color: $color-background3;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
        border-radius: 20px;
        height: 40px;
        margin: 16px 0 16px 12px;
    }

    .filter-text{
        margin-top: 10px;
    }

    i.fa-mobile-alt{
        margin-right: 16px;
        margin-top: 11px;
        margin-left: 25px;
        color: #7e7e7e;
    }

    i.fa-list-ul{
        margin-right: 16px;
        margin-top: 11px;
        margin-left: 25px;
        color: #7e7e7e;  
    }

    i.fa-store{
        margin-right: 16px;
        margin-top: 11px;
        margin-left: 25px;
        color: #7e7e7e; 
    }
}
