$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

header{
    display: flex;
    justify-content: center;

    img{
        width: 30%;
    }
}

.lieu{
    display: flex;
    justify-content: center;
}