@import 'title-menu.scss';
@import 'button.scss';
@import 'footer.scss';

$color-background3: #f6f6f6;


/* header */
header {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(223, 223, 223);
    padding: 16px;

    img {
        width: 200px;
    }

    a.fa-arrow-left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
    }

    .fa-arrow-left{
    }
}

.img-carte{
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
}

a{
    text-decoration: none;
    color: black;
}

.carte{
    display: flex;
    background-color:$color-background3;
    border-radius: 32px 32px 0 0;
    padding: 16px 32px 0 16px;
    position: absolute;
    width: 100%;
    top: 275px;

    .fa-heart{
        display: flex;
    }
}

.background-carte{
    background-color: $color-background3;

    .sous-menu{
        max-width: 100%;
        padding: 0 16px;
        overflow: hidden;
    }
}

.menu-item{
    display: flex;
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 10%);
    max-width: 100%;
    margin: 16px 0;

    .prix-menu{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: 700;
        padding-left: 8px;
    }
}

.background-btn{
    background-color: $color-background3;

    .btn-commander{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 48px 0;
        width: 140px;
    }
}